{
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "rules": {
        "semi": "error",
        "prettier/prettier": "error",
        "no-use-v-if-with-v-for" : "off"
    },
    "env": {
        "browser": true,
        "jquery": true,
        "node": true
    },
    "plugins": ["vue", "prettier"],
    "extends": ["plugin:vue/essential", "plugin:prettier/recommended"]
}
