<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"
        ></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="font-family: 'Times New Roman', Times, serif; margin-top: 2%">
                    <h2>Contact Us</h2>
                    <p>
                       Please leave your message below. Your feedback is very valuable to us!
                    </p>
                    <form role="form" method="post" id="reused_form">
            
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message">
                                    Message:</label>
                                <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name">
                                    Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email">
                                    Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-outline-success mt-1 mb-1" >Send →</button>
                            </div>
                        </div>
            </div>
            <div class="col-sm" style="font-family: 'Times New Roman', Times, serif; margin-top: 2%">
                <h2>Team Members</h2>
                <hr>
                <div class="container">
                    <div class="row" style="font-family: 'Times New Roman', Times, serif">
                        <div class="col">
                            <h3>Hanzhi Zhou</h3>
                            <hr>
                            <p>E-mail: hz2zz@virginia.edu</p>
                            <p>Github:https://github.com/hanzhi713</p>
                        </div>
                        <div class="col">
                            <h3>Kaiying Shan</h3>
                            <hr>
                            <p>E-mail: ks5qug@virginia.edu</p>
                            <p>Github:https://github.com/kaiyingshan</p>
                        </div>
                        <div class="col">
                            <h3>Zichao Hu</h3>
                            <hr>
                            <p>E-mail: zh2wc@virginia.edu</p>
                            <p>Github:https://github.com/OAHC2022</p>
                        </div>
                        <div class="col">
                            <h3>Minjun Long</h3>
                            <hr>
                            <p>E-mail: ml6vq@virginia.edu</p>
                            <p>Github:https://github.com/Elena6918</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>


</html>